{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        {% if user.is_authenticated and user.user_type == "parent" %}
        <div>
            <h2>Here are the passports you have created:
            <h3>You can view, edit or delete passports from this page.</h3>
            <h3>Add a new passport via the link below if you have a valid PUPIL ID (read more)</h3>
                
            <hr>
        </div>
            {% for passport in passport_list %}
                <div>
                    <a href="{% url 'passport_detail' passport.slug %}"">
                        <h4>Pupil Name : {{ passport.my_name }} </h4>
                        <h4>DOB:{{ passport.my_date_of_birth}} </h4>
                    </a>
                </div>
            {% endfor %}
            <a href="#"><h3>Add New Passport + </h3></a>
            
        {% else %}
        <h1>
            Unauthorised user go back!
        </h1>
        {% endif %}
        {% endblock %}