{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        {{ user.user_type }}
        {% if user.is_authenticated and user.user_type == "parent" %}
        <div>
            <h5 class="nav-item">Logged in as parent</h5>
            <h2>Here are the passports you have created
                <a href="#"><h1>Add New Passport</h1></a>
            <hr>
        </div>
            {% for passport in passport_list %}
                <div>
                    <a href="{% url 'passport_detail' passport.slug %}"">
                        <h4>Pupil Name : {{ passport.my_name }} </h4>
                        <h4>DOB:{{ passport.my_date_of_birth}} </h4>
                    </a>
                </div>
            {% endfor %}
            
        {% else %}
        <h1>
            Unauthorised user go back!
        </h1>
        {% endif %}
        {% endblock %}