{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        {% if user.is_authenticated and user.user_type == "teacher" %}
        <div>
            <h2>Welcome Teacher</h2>
            <h3>You can view any passports you are authorised to access here.</h3>
            <h3>To find any passports you have access to, type your department issued teaching council registration number below.</h3>
            <form method='GET'>
                <input type='text' name='teacher_id' value='{{ request.GET.teacher_id }}'>
                <input class="button" type='submit' value="Search Passports">
              </form>
            <hr>
        </div>
            {% for passport in passport_list %}
                <div>
                    <a href="{% url 'teacher_passport_detail' passport.pupil_id %}">
                        <h4>Pupil Name : {{ passport.my_name }} </h4>
                        <h4>DOB:{{ passport.my_date_of_birth}} </h4>
                    </a>
                </div>
            {% endfor %} 
        {% else %}
        <h1>
            Unauthorised user go back!
        </h1>
        {% endif %}
        {% endblock %}