{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        {% if user.is_authenticated and user.user_type == "parent" %}
        <div>
            <h3>For security purposes, please type your child's PUPIL ID Number (Tell me more)</h3>
            <form method='GET'>
                <input type='text' name='pupil_id' value='{{ request.GET.pupil_id}}'>
                <input class="button" type='submit' value="Verify Pupil ID">
              </form>
            <hr>
        </div>

            {% for pupil in object_list %}
                <div>
                        <h3>Pupil Id Confirmed!</h3>
                        <h4>Pupil Name : {{ pupil.pupil_id }}</h4>
                        <h4>DOB:{{ pupil.pupil_id}} </h4>
                        <h3>Click to get started!</h3>
                </div>
            {% endfor %} 
        {% else %}
        <h1>
            Unauthorised user go back!
        </h1>
        {% endif %}
 {% endblock %}